@{
    ViewBag.Title = "创建工单";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model dynamic
<style>
    body {
        background-color: white;
    }

    .heard.bar {
        background: -moz-linear-gradient(left,#2e8cbf,#3fbfe6); /*Mozilla*/
        background: -webkit-gradient(linear,0 50%,100% 50%,from(#2e8cbf),to(#3fbfe6)); /*Old gradient for webkit*/
        background: -webkit-linear-gradient(left,#2e8cbf,#3fbfe6); /*new gradient for Webkit*/
        background: -o-linear-gradient(left,#2e8cbf,#3fbfe6); /*Opera11*/
        color: white;
    }

    .heard .title {
        color: white;
    }

    .bar .icon {
        color: white;
    }

    .list-block .item-inner:after {
        background: none;
    }

    .list-block ul:before {
        background: none;
    }

    .list-block {
        margin: 0;
    }

        .list-block .item-title.label {
            text-align: left;
            width: 28%;
            font-size: .7rem;
            color: #333;
        }

        .list-block .item-input {
            border: 1px solid #b4b4b4;
            border-radius: .25rem;
            height: 1.4rem;
            line-height: 1.4rem;
            margin-left: 5px;
            padding: 0 2px;
           font-size: 14px;
            background-color: #fff;
        }

        .list-block input[type=text], .list-block input[type=password], .list-block input[type=email], .list-block input[type=tel], .list-block input[type=url], .list-block input[type=date], .list-block input[type=datetime-local], .list-block input[type=time], .list-block input[type=number], .list-block input[type=search], .list-block select, .list-block textarea {
            height: 1.4rem;
            line-height: 1.4rem;
            font-size: 14px;
            color: #333;
        }

        .list-block .item-inner:after {
            background: none;
        }

    .list-block {
        background-color: white;
    }

        .list-block ul {
            margin: 0 3%;
            border-bottom: 1px dashed #888;
        }

    .add_box {
        background: -moz-linear-gradient(left,#2e8cbf,#3fbfe6); /*Mozilla*/
        background: -webkit-gradient(linear,0 50%,100% 50%,from(#2e8cbf),to(#3fbfe6)); /*Old gradient for webkit*/
        background: -webkit-linear-gradient(left,#2e8cbf,#3fbfe6); /*new gradient for Webkit*/
        background: -o-linear-gradient(left,#2e8cbf,#3fbfe6); /*Opera11*/
        font-size: 14px;
        border: none;
        height: 2rem;
        line-height: 2rem;
        color: white;
        width: 62%;
        border-radius: 5px;
        margin-left: 34%;
    }

    .email_box {
         font-size: 14px;
        margin-left: 30%;
        margin-top: 5px;
    }

        .email_box img {
            width: 1rem;
            height: auto;
            position: relative;
            top: 5px;
        }

    .footter {
        background: -moz-linear-gradient(left,#2e8cbf,#3fbfe6); /*Mozilla*/
        background: -webkit-gradient(linear,0 50%,100% 50%,from(#2e8cbf),to(#3fbfe6)); /*Old gradient for webkit*/
        background: -webkit-linear-gradient(left,#2e8cbf,#3fbfe6); /*new gradient for Webkit*/
        background: -o-linear-gradient(left,#2e8cbf,#3fbfe6); /*Opera11*/
        text-align: center;
        color: white;
        height: 2.2rem;
        line-height: 2.2rem;
        position: fixed;
        width: 100%;
        bottom: 0;
    }

        .footter img {
            width: 15px;
            margin-right: 10px;
        }

        .footter a {
            color: white;
        }

    .textarea_box {
        position: relative;
        width: 100%;
        border: 1px solid #b4b4b4;
        margin-bottom: 3px;
        border-radius: .25rem;
    }

        .textarea_box textarea {
            height: 4rem;
            width: 100%;
            margin: 0px 5px 10px;
            line-height: 1rem;
        }

    .list-block ul ul {
        padding-left: 0px;
    }

    .textarea_box ul {
        padding: 0 10px;
    }

        .textarea_box ul li {
            width: 1.6rem;
            /*float: left;*/
        }

    .textarea_box .img {
        width: 2rem;
        height: 2rem;
        border-radius: 5px;
        object-fit: cover;
        margin-right: 3px;
        position: relative;
    }

    .textarea_box .del {
        position: absolute;
        top: -8px;
        right: -6px;
    }

    .list-block ul li.last {
        margin-bottom: 1rem;
    }
    .list-block .item-content{
        padding-left:0px
    }
</style>
<body>
    <header class="bar bar-nav heard">
        <a class="icon icon-left pull-left back"></a>
        <h1 class="title">创建工单</h1>
    </header>
    <div class="content">
        <form id="commit_form">
            <div class="list-block">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-email"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">学校名称</div>
                                <div class="item-input">
                                    <input type="text" class="select_box" readonly value="@Model.OrgName" />
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-email"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">门牌号</div>
                                <div class="item-input">
                                    <input name="HouseNo" value="@Model.HouseNo" readonly>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-name"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">班级</div>
                                <div class="item-input">
                                    <input type="text" name="ClassName" value="@Model.ClassName" readonly>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="list-block">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-email"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">报修时间</div>
                                <div class="item-input">
                                    <input type="text" class="select_box" value="@Model.ApplyDate" readonly />
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-name"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">报修人</div>
                                <div class="item-input">
                                    <input type="text" value="@Model.ApplyerName" readonly>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-name"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">联系电话</div>
                                <div class="item-input">
                                    <input type="tel" name="ContactNumber" value="@Model.ContactNumber" readonly>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!--设备相关-->
            <div class="list-block autoform">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-email"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">设备类型</div>
                                <div class="item-input">
                                    <input name="TypeName" value="@Model.TypeName" readonly>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-name"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">设备名称</div>
                                <div class="item-input">
                                    <input  name="DeviceName" value="@Model.DeviceName" readonly>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-email"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">位置</div>
                                <div class="item-input">
                                    <input type="text" name="StorePlace" value="@Model.StorePlace" readonly>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-email"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">维修单位</div>
                                <div class="item-input">
                                    <input type="text" name="IntegratorName" readonly  value="@Model.IntegratorName"/>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-email"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">故障现象</div>
                                <div class="item-input">
                                    <input type="text" name="FaultName" class="select_box" value="@Model.FaultName" />
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content ">
                            <div class="item-media"><i class="icon icon-form-email"></i></div>
                            <div class="item-inner clear">
                                <div class="item-title label">故障描述</div>
                                <div class="textarea_box">
                                    <textarea name="FaultDesc" readonly>@Model.FaultDesc</textarea>
                                    <div class="clear">
                                        @if (Model.FaultPicPath1 != null)
                                        {
                                            <img class="img" src="@(Convert.ToString(ViewBag.ImageUrl)+Convert.ToString(Model.FaultPicPath1))" />
                                        }
                                        @if (Model.FaultPicPath2 != null)
                                        {
                                            <img class="img" src="@(Convert.ToString(ViewBag.ImageUrl)+Convert.ToString(Model.FaultPicPath2))" />
                                        }
                                        @if (Model.FaultPicPath3 != null)
                                        {
                                            <img class="img" src="@(Convert.ToString(ViewBag.ImageUrl)+Convert.ToString(Model.FaultPicPath3))" />
                                        }
                                        @if (Model.FaultPicPath4 != null)
                                        {
                                            <img class="img" src="@(Convert.ToString(ViewBag.ImageUrl)+Convert.ToString(Model.FaultPicPath4))" />
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content ">
                            <div class="item-media"><i class="icon icon-form-email"></i></div>
                            <div class="item-inner clear">
                                <div class="item-title label">故障原因</div>
                                <div class="item-input">
                                    <input type="text" name="FaultReason"/>
                                </div>        
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content ">
                            <div class="item-media"><i class="icon icon-form-email"></i></div>
                            <div class="item-inner clear">
                                <div class="item-title label">故障处理</div>
                                <div class="textarea_box">
                                    <textarea name="DealWay"></textarea>
                                    <div class="clear">
                                        <div class="addImage" style="position:relative;float:left;margin-left:5px;">
                                            <img class="img" src="~/jquery/img/upload_img.png" />
                                        </div>
                                        @*<img class="addImage img" src="~/jquery/img/upload_img.png" />*@
                                        @*<img src="~/Content/img/del.png" class="del">*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-email"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">配件名称</div>
                                <div class="item-input">
                                    <input type="text" name="PartName" class="select_box" />
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-email"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">品牌</div>
                                <div class="item-input">
                                    <input type="text" name="ProductModel" class="select_box" />
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-email"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">数量</div>
                                <div class="item-input">
                                    <input type="number" name="ConsumeNumber" class="select_box" />
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-email"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">单位</div>
                                <div class="item-input">
                                    <input type="text" name="NumberUnit" class="select_box" />
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-email"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">单价</div>
                                <div class="item-input">
                                    <input type="text" name="Price" class="select_box" />
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-email"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">计划开始时间</div>
                                <div class="item-input">
                                    <input type="text" name="FactStartDate" class="select_box" />
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-email"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">计划结束时间</div>
                                <div class="item-input">
                                    <input type="text" name="FactEndDate" class="select_box" />
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-email"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">维修人员</div>
                                <div class="item-input">
                                    <input type="text" name="ServicePersons" class="select_box" value="@Model.ServiceHeaderName"/>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </form>
        <!--增加按钮-->
        <div class="list-block" style="margin-top: 5px;">
            <ul>
                <li class="last">
                    <p class="email_box">
                        审批人：张三（2414769392@qq.com）
                        <img src="~/Content/img/Eadd_icon.png" height="32" width="32" />
                    </p>
                </li>
            </ul>
        </div>
        <!--提交按钮-->
        <div class="footter">
            <a><img src="~/Content/img/tijiao_icon.png" />提交</a>
        </div>
    </div>
    <input type="hidden" name="RepairApplyCode" value="@Model.RepairApplyCode" />
    <input type="hidden" name="DealerName" value="@ViewBag.RealName"/>
</body>
<script src="~/Scripts/jweixin-1.2.0.js"></script>
<script src="~/Scripts/wxhelper.js"></script>
<script type="text/javascript">
    $(function () {
        domin.bingEvent();
        domin.initControl();
        domin.loadWeChatConfig();//加载微信配置
    });

    var domin = (function (obj) { return obj; }(new function () {

        var WeChat = new wxhelper();
        var localIds = [];
        var serverIds = [];

        //初始化时间控件
        function initControl() {
            $("input[name=FactStartDate]").datetimePicker();
            $("input[name=FactEndDate]").datetimePicker();
        }

        //注入微信配置
        function loadWeChatConfig() {
            client.ajax.getRequest("/WeChat/GetWeChatConfig", null, function (r) {
                //获取微信配置
                var appId = r.data.appId;
                var timestamp = r.data.timestamp;
                var nonceStr = r.data.noncestr;
                var signature = r.data.signature;
                WeChat.config(appId, timestamp, nonceStr, signature);
            }, function (r) {
                alert(r.info);
            });
        }

        //下载上传图片
        function downloadImage(serverIds) {
            $.showLoading("正在上传");
            client.ajax.postRequest("/WeChat/UploadImage", { serverIds: serverIds.join() }, function (r) {
                $.hideLoading();
                var imageList = r.data;
                var html = [];
                $(imageList).each(function (index,url) {
                    html.push('<div class="upload_img" style="position:relative;float:left;margin-left:5px;">');
                    html.push('<img src="' + url + '" class="img" />');
                    html.push('<img src="~/Content/img/del.png" class="del">');
                    html.push('</div>');
                });
                $(html.join('')).insertBefore($(".addImage"));
                //绑定图片删除事件
                $('.del', divId).off("click").on("click", function () {
                    $(this).parents(".upload_img").remove();
                });
            });
        }

        //上传图片
        function uploadImage() {
            try {
                (function (localId) {//异步闭包
                    ////解决IOS无法上传的坑
                    //if (localId.indexOf("wxlocalresource") != -1) {
                    //    localId = localId.replace("wxlocalresource", "wxLocalResource");
                    //}
                    WeChat.uploadImage(localId, function (res) {
                        serverIds.push(res.serverId);// 返回图片的服务器端ID
                        if (serverIds.length != localIds.length) {
                            uploadImage();
                        }
                        else {
                            //上传完毕，下载图片
                            downloadImage(serverIds);
                        }
                    });
                })(localIds[serverIds.length]);
            } catch (e) {
                alert(e.message);
            }
        }

        //事件绑定
        function bingEvent() {

            //点击选择图片
            $('.addImage').on("click", function () {
                 localIds = [];//清空数组
                 serverIds = [];//清空数组
                 var uploadCount = $('.upload_img').length;//已经上传的张数
                 if (uploadCount < 4) {
                    var count = 4 - uploadCount;//还能上传的图片张数
                    WeChat.chooseImage(count, function (r) {
                        localIds = r.localIds;
                        uploadImage();
                    });
                }
                else {
                    $.toast("最多上传四张图片", "text");
                }
            });

            //提交工单
            $('.footter').on("click", function () {
                $.showLoading("正在提交");
                var submitDatas = {};
                var Parts = [];
                submitDatas.RepairApplyCode = $('input[name=RepairApplyCode]').val();
                submitDatas.FactStartDate = $('input[name=FactStartDate]').val();
                submitDatas.FactEndDate = $('input[name=FactEndDate]').val();
                submitDatas.FaultReason = $('input[name=FaultReason]').val();
                submitDatas.DealWay = $('textarea[name=DealWay]').val();
                submitDatas.DealerName = $('input[name=DealerName]').val();//处理人姓名
                submitDatas.ServicePersons = $('input[name=ServicePersons]').val();//维修人员姓名
                var images = $('.upload_img');
                for (var i = 1; i <=images.length; i++) {
                    submitDatas["DealPicPath" + i] = $(images).eq(i - 1).find(".img").attr("src");
                }
                Parts.push({
                    PartName: $('input[name=PartName]').val(),
                    ProductModel: $('input[name=ProductModel]').val(),
                    ConsumeNumber: $('input[name=ConsumeNumber]').val(),
                    NumberUnit: $('textarea[name=NumberUnit]').val(),
                    Price: $('input[name=Price]').val(),
                });
                submitDatas.Parts = Parts;
                client.ajax.postRequest("/WorkOrder/Insert", { submitDatas: JSON.stringify(submitDatas) }, function (r) {
                    $.hideLoading();
                    $.toast("创建成功");
                    setTimeout(function () {
                        location.href = "/Form/RepairMan";
                    },500)
                }, function (r) {
                    $.hideLoading();
                    $.toast(r.info, "text");
                });
            });
        }

        return {
            initControl:initControl,
            bingEvent: bingEvent,
            loadWeChatConfig: loadWeChatConfig,
        }
    }));
</script>
