@{
    ViewBag.Title = "查看保修单";
    Layout = "~/Views/Shared/_Layout.cshtml";
    RoleType roleType = (RoleType)ViewBag.RoleType;
}
@model dynamic
<style>
    body {
        background-color: white;
    }

    .heard.bar {
        background: -moz-linear-gradient(left,#2e8cbf,#3fbfe6); /*Mozilla*/
        background: -webkit-gradient(linear,0 50%,100% 50%,from(#2e8cbf),to(#3fbfe6)); /*Old gradient for webkit*/
        background: -webkit-linear-gradient(left,#2e8cbf,#3fbfe6); /*new gradient for Webkit*/
        background: -o-linear-gradient(left,#2e8cbf,#3fbfe6); /*Opera11*/
        color: white;
    }

    .heard .title {
        color: white;
    }

    .bar .icon {
        color: white;
    }

    .list-block .item-inner:after {
        background: none;
    }

    .list-block ul:before {
        background: none;
    }

    .list-block {
        margin: 0;
    }

        .list-block .item-title.label {
            text-align: left;
            width: 28%;
            font-size: .7rem;
            color: #333;
        }

        .list-block .item-input {
            border: 1px solid #b4b4b4;
            border-radius: .25rem;
            height: 1.4rem;
            line-height: 1.4rem;
            margin-left: 5px;
            padding: 0 2px;
            font-size: 14px;
            background-color: #fff;
        }

        .list-block input[type=text], .list-block input[type=password], .list-block input[type=email], .list-block input[type=tel], .list-block input[type=url], .list-block input[type=date], .list-block input[type=datetime-local], .list-block input[type=time], .list-block input[type=number], .list-block input[type=search], .list-block select, .list-block textarea {
            height: 1.4rem;
            line-height: 1.4rem;
           font-size: 14px;
            color: #333;
        }

        .list-block .item-inner:after {
            background: none;
        }

    .list-block {
        background-color: white;
    }

        .list-block ul {
            margin: 0 3%;
            border-bottom: 1px dashed #888;
        }

    .add_box {
        background: -moz-linear-gradient(left,#2e8cbf,#3fbfe6); /*Mozilla*/
        background: -webkit-gradient(linear,0 50%,100% 50%,from(#2e8cbf),to(#3fbfe6)); /*Old gradient for webkit*/
        background: -webkit-linear-gradient(left,#2e8cbf,#3fbfe6); /*new gradient for Webkit*/
        background: -o-linear-gradient(left,#2e8cbf,#3fbfe6); /*Opera11*/
       font-size: 14px;
        border: none;
        height: 2rem;
        line-height: 2rem;
        color: white;
        width: 62%;
        border-radius: 5px;
        margin-left: 34%;
    }

    .email_box {
        font-size: 14px;
        margin-left: 30%;
        margin-top: 5px;
    }

        .email_box img {
            width: 1rem;
            height: auto;
            position: relative;
            top: 5px;
        }

    .footter {
        background: -moz-linear-gradient(left,#2e8cbf,#3fbfe6); /*Mozilla*/
        background: -webkit-gradient(linear,0 50%,100% 50%,from(#2e8cbf),to(#3fbfe6)); /*Old gradient for webkit*/
        background: -webkit-linear-gradient(left,#2e8cbf,#3fbfe6); /*new gradient for Webkit*/
        background: -o-linear-gradient(left,#2e8cbf,#3fbfe6); /*Opera11*/
        text-align: center;
        color: white;
        height: 2.2rem;
        line-height: 2.2rem;
        position: fixed;
        width: 100%;
        bottom: 0;
        z-index:200;
    }

        .footter img {
            width: 15px;
            margin-right: 10px;
        }

        .footter a {
            color: white;
        }

    .textarea_box {
        position: relative;
        width: 100%;
        border: 1px solid #b4b4b4;
        margin-bottom: 3px;
        border-radius: .25rem;
    }

        .textarea_box textarea {
            height: 4rem;
            width: 100%;
            margin: 0px 5px 10px;
            line-height: 1rem;
        }

    .list-block ul ul {
        padding-left: 0px;
    }

    .textarea_box ul {
        padding: 0 10px;
    }

        .textarea_box ul li {
            width: 1.6rem;
            /*float: left;*/
        }

    .textarea_box .img {
        width: 2rem;
        height: 2rem;
        border-radius: 5px;
        object-fit: cover;
        margin-right: 3px;
        position: relative;
    }

    .textarea_box .del {
        position: absolute;
        top: -8px;
        right: -6px;
    }

    .list-block ul li.last {
        margin-bottom: 2.5rem;
    }
    .list-block .item-content{
        padding-left:0px
    }
     .responeform p{
        margin-top:5px;
    }
    .responeform p span:first-child {
        width:85px;
        text-align:right;
        display:inline-block;
        font-size:13px
    }
    .input_title {
        margin:10px 0
    
    }
       .input_title label{
           margin:0 15px
    
    }
       .input_title label input{
          width:30px;
          height:20px;
    }
       .responeform input{
           height:30px;
       }
</style>
<body>
    <header class="bar bar-nav heard">
        <a class="icon icon-left pull-left back"></a>
        <h1 class="title">查看保修单</h1>
    </header>
    <div class="content">
        <form id="commit_form">
            <div class="list-block">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-email"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">学校名称</div>
                                <div class="item-input">
                                    <input type="text" class="select_box" readonly value="@Model.OrgName" />
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-email"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">门牌号</div>
                                <div class="item-input">
                                    <input name="HouseNo" readonly value="@Model.HouseNo">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-name"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">班级</div>
                                <div class="item-input">
                                    <input type="text" name="ClassName" readonly value="@Model.ClassName">
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="list-block">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-email"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">报修时间</div>
                                <div class="item-input">
                                    <input type="text" name="FaultDate"  readonly value="@Model.FaultDate" />
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-name"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">报修人</div>
                                <div class="item-input">
                                    <input type="text" name="Linkman" readonly value="@Model.Linkman">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-name"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">联系电话</div>
                                <div class="item-input">
                                    <input type="tel" name="ContactNumber" readonly value="@Model.ContactNumber">
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!--设备相关-->
            <div id="formDiv0" class="list-block autoform">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-email"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">设备类型</div>
                                <div class="item-input">
                                    <input name="TypeName" readonly value="@Model.TypeName">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-name"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">设备名称</div>
                                <div class="item-input">
                                    <input readonly value="@Model.DeviceName">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-email"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">位置</div>
                                <div class="item-input">
                                    <input type="text" name="StorePlace" readonly value="@Model.StorePlace">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-email"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">维修单位</div>
                                <div class="item-input">
                                    <input type="text" name="IntegratorName" readonly  value="@Model.IntegratorName"/>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-email"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">故障现象</div>
                                <div class="item-input">
                                    <input type="text" name="FaultName" readonly   value="@Model.FaultName"/>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content ">
                            <div class="item-media"><i class="icon icon-form-email"></i></div>
                            <div class="item-inner clear">
                                <div class="item-title label">故障描述</div>
                                <div class="textarea_box">
                                    <textarea name="FaultDesc" readonly>@Model.FaultDesc</textarea>
                                    <div class="clear">
                                        @if (Model.FaultPicPath1!= null)
                                        {
                                            <img class="img" src="@(Convert.ToString(ViewBag.ImageUrl)+Convert.ToString(Model.FaultPicPath1))" />
                                        }
                                        @if (Model.FaultPicPath2!= null)
                                        {
                                            <img class="img" src="@(Convert.ToString(ViewBag.ImageUrl)+Convert.ToString(Model.FaultPicPath2))" />
                                        }
                                        @if (Model.FaultPicPath3!= null)
                                        {
                                            <img class="img" src="@(Convert.ToString(ViewBag.ImageUrl)+Convert.ToString(Model.FaultPicPath3))" />
                                        }
                                        @if (Model.FaultPicPath4!= null)
                                        {
                                            <img class="img" src="@(Convert.ToString(ViewBag.ImageUrl)+Convert.ToString(Model.FaultPicPath4))" />
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                     <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-email"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">要求开始时间</div>
                                <div class="item-input">
                                    <input type="text" name="RequireStartDate" readonly value="@Model.RequireStartDate" />
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-email"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">要求结束时间</div>
                                <div class="item-input">
                                    <input type="text" name="RequireEndDate" readonly value="@Model.RequireEndDate" />
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="last">
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-email"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">抄送人</div>
                                <div class="item-input">
                                    <input type="text" name="CopyToNames" readonly value="@Model.CopyToNames" />
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </form>
        @if (roleType == RoleType.RepairUnit)
        {
            <div class="footter" data-RoleType="@((int)RoleType.RepairUnit)">
                <a><img src="~/Content/img/tijiao_icon.png" />响应</a>
            </div>
        }
        @if (roleType == RoleType.School&& Model.RepairApplyState==0)
        {
            <div class="footter" data-RoleType="@((int)RoleType.School)">
                <a><img src="~/Content/img/tijiao_icon.png" />撤回</a>
            </div>
        }   
    </div>
    <input id="RecordID" type="hidden" value="@Model.RecordID" />
</body>
<script type="text/html" id="responeModal">
    <form class="responeform">
        <p class="input_title">
            <label><input type="radio" name="DealType" value="0" checked />派人</label>
            <label><input type="radio" name="DealType" value="1" />排除建议</label>
        </p>
        <div class="ResponseOpinion" style="display:none">
            <p>
                <span style="margin-top:32px;float:left ;width:70px;">维修建议</span>
                <textarea name="ResponseOpinion" style="width:65%;height:80px;border-radius: 5px;"></textarea>
            </p>
        </div>
        <div class="ResponsePerson">
            <p>
                <span>维修人员</span>
                <select style="width:150px;" name="ServiceHeaderId"></select>
            </p>
            <p>
                <span>联系电话:</span>
                <input type="text" name="ServiceHeaderContactNumber" style="width:150px;border:1px solid #cacaca" />
            </p>
            <p>
                <span>预计开始时间:</span>
                <input type="text" name="PlanStartDate" style="width:150px;border:1px solid #cacaca" />
            </p>
            <p>
                <span>预计结束时间:</span>
                <input type="text" name="PlanEndDate" style="width:150px;border:1px solid #cacaca" />
            </p>
        </div>
    </form>
</script>
<script type="text/javascript">
    var ServicePersonArray = [];//维修人员列表
    $(function () {
        $('.footter').on("click", function () {
            var ID = $('#RecordID').val();
            var RoleType = $(this).attr("data-RoleType");
            if (RoleType == 1) {
                //响应报修单
                var html = template("responeModal", null)();
                $.modal({
                    title: ' ',
                    text: html,
                    buttons: [
                       { text: "取消", className: "default" },
                       { text: "确定", onClick: function () { ResponeForm(ID) } }
                    ]
                });
                //时间插件的绑定
                $("input[name=PlanStartDate]").datetimePicker();
                $("input[name=PlanEndDate]").datetimePicker();
                //数据绑定
                var html = [];
                var i = 0;
                $(ServicePersonArray).each(function () {
                    if (i == 0) {
                        $("input[name=ServiceHeaderContactNumber]").val(this.ContactNumber);
                        i++;
                    }
                    html.push('<option value="' + this.RecordID + '">' + this.RealName + '</option>');
                });
                $('select[name=ServiceHeaderId]').html(html.join(''));

                //绑定切换
                $('select[name=ServiceHeaderId]').change(function () {
                    var value = $(this).val();
                    var ContactNumber = GetContactNumber(value).ContactNumber;
                    $("input[name=ServiceHeaderContactNumber]").val(ContactNumber);
                });

                //切换判断
                $('input[name=DealType]').click(function () {
                    var value = $(this).val();
                    if (value == 0) {
                        $('.ResponseOpinion').hide();
                        $('.ResponsePerson').show();
                    }
                    else {
                        $('.ResponseOpinion').show();
                        $('.ResponsePerson').hide();
                    }
                });
            }
            if (RoleType == 4) {
                $.confirm({
                    title: '提示',
                    text: '确定撤回？',
                    onOK: function (input) {
                        var submitDatas = {};
                        submitDatas.ID = ID;
                        client.ajax.postRequest("/Form/CancelRepairApply", { submitDatas: JSON.stringify(submitDatas) }, function (r) {
                            $.toast("撤回成功");
                            setTimeout(function () {
                                location.href =client.baseUrl+"/Form/Teacher";
                            },1000);
                        }, function (r) {
                            $.toast(r.info, "text");
                        });
                    }
                });
            }
        });
    });

    //响应报修单
    function ResponeForm(ID) {
        submitDatas = {};
        var param = client.form.parseJson($('.responeform'));
        submitDatas.ID = ID;//维修单ID
        submitDatas.DealType = param.DealType;
        if (submitDatas.DealType == 0) {
            submitDatas.ServiceHeaderId = param.ServiceHeaderId;
            submitDatas.ServiceHeaderName = GetContactNumber(param.ServiceHeaderId).RealName;
            submitDatas.ServiceHeaderContactNumber = param.ServiceHeaderContactNumber;
            submitDatas.PlanStartDate = param.PlanStartDate;
            submitDatas.PlanEndDate = param.PlanEndDate;
        }
        else {
            submitDatas.ResponseOpinion = param.ResponseOpinion;//建议
        }
        $.hideLoading("响应中...");
        client.ajax.postRequest("/Form/ResponseRepairApply", { submitDatas: JSON.stringify(submitDatas) }, function (r) {
            $.hideLoading();
            $.toast("响应成功");
            setTimeout(function () {
                location.href =client.baseUrl+"/Form/Repair";
            }, 500);
            location.href = "";
        }, function (r) {
            $.hideLoading();
            $.toast(r.info, "text");
        });
    }

    //获取维修人员列表
    function GetServicePersonListByIntegratorCode() {
        client.ajax.getRequest("/Form/GetServicePersonListByIntegratorCode", null, function (r) {
            ServicePersonArray = JSON.parse(r.data);
        });
    }
</script>
